body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer"
    ;
}

nav {
    background-color: yellow;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
}

nav>ul>li {
    position: relative;
}

nav ul ul {
    position: absolute;
    display: block;
    background-color: green;
    padding: 0;
    width: 100%;
    opacity: 0; /* Sub menus are completely see through */
    /* display: none; --> Hides the submenus */
    transition: opacity 0.25s ease-in; /* it will take 0.5 seconds to fade in */
    pointer-events: none; /* Sub menus cannot be interacted with */
}

nav>ul>li:hover ul {
    opacity: 1; /* Sub menus are completely visible */
    /*display: block;*/
    pointer-events: auto; /* Sub menus can be interacted with */
}

nav ul ul li:hover {
    background-color: aquamarine;
}